* {
    font-family: "Nunito", "Vazirmatn";
}

QMainWindow#MainWindow {
    background-color: #1c1c1c;
}

/* side bar */
QFrame#Sidebar {
    background-color: #2e2f35;
}

SettingsModal PushButton,
QFrame#Sidebar > PushButton {
    background-color: #323339;
    border: 1px solid #1c1c1c;
    color: #ffffff;
    border-radius: 6px;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
}

QFrame#Sidebar > PushButton:hover {
    background-color: #4452bb;
}

/* upper frame */
RadioButton {
    background-color: #323339;
    border: 1px solid #1c1c1c;
    border-radius: 6px;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
}

RadioButton:checked {
    background-color: #1c1c1c;
}

QFrame#MainSection > #UpperFrame {
    background-color: #323339;
}

AccountDetailsFrame {
    background-color: #323339;
    border: 1px solid #58595d;
    border-radius: 10px;
}

AccountDetailsFrame > QLabel {
    font-size: 18px;
    color: #ffffff;
}

AccountDetailsFrame > QLabel#Label {
    color: #e0e0e0;
}

AccountDetailsFrame > PushButton {
    background-color: #e53232;
    color: #ffffff;
    border-radius: 6px;
    padding: 5px 15px;
    font-size: 16px;
    font-weight: 500;
}

QLabel#WelcomePage {
    font-size: 25px;
    font-weight: 600;
}

SettingsModal > QLabel {
    font-size: 18px;
    color: #ffffff;
}

SettingsModal {
    background-color: #323339;
    border-radius: 8px;
    padding: 10px;
}

QFrame#SettingsModal > PushButton#CloseButton {
    background-color: #323339;
    border: 1px solid #323339;
    color: #ffffff;
    border-radius: 4px;
    padding: 10px;
} 

SettingsModal > PushButton {
    background-color: #323339;
    border: 1px solid #1c1c1c;
    color: #ffffff;
    border-radius: 6px;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
}

SettingsModal > PushButton:hover {
    background-color: #1c1c1c;
}