dnspython==2.8.0
email-validator==2.3.0
idna==3.11
packaging==25.0
pyqt-toast-notification @ git+https://github.com/HH03e1N/pyqttoast@a78d521882e7f419384fee17a12fbd5e86608cc6
PySide6==6.10.1
PySide6_Addons==6.10.1
PySide6_Essentials==6.10.1
QtPy==2.4.3
shiboken6==6.10.1
zxcvbn-python==4.4.24
